*{
    
    box-sizing: border-box;
    overflow: hidden;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    
    

}
.wrapperCol{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.headline{
    font-size: 10rem;
}
.wheel{
    position: relative;
    width: 200px;
    height: 200px;
    background-size: contain;
    animation:spin 30s linear infinite;
}
.w1{
    
    animation:spin 30s reverse linear infinite;
 
    background-image: url('./assets/2.png');
}
.w2{
    left:-8px;
    background-image: url('./assets/1.png');
}


@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
   
   }
}

